{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/05dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/02global.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <title>Dashboard</title>
</head>
<body>
    
    {% include 'main/00header.html' %}
    <div class="container-Global">

        <h1 class="title">Dashboard</h1>

        <div class="container">
            <form method="post" id="turnOnorOffForm">
                {% csrf_token %}
                <input type="hidden" name="action" value="on_off_button">
                <button type="button" class="actionButton" data-target="state">Turn On/Off</button>
            </form>

            <div class="imageRaspberry">
                <img src="{% static 'main/images/raspberryLogo.svg'%}" class="raspberryLogo">
            </div>

            <p class="state">State: <span id="state">{{ Powered_On_or_Off }}</span></p>
        </div>

        <br>

        <p class="messages">Messages: <span  id="messages">{{ messages }}</span></p>

        <p class="subTitle">Make Noise</p>
            <form method="post" id="event01Form">
                {% csrf_token %}
                <input type="hidden" name="action" value="event_01">
                <button type="button" class="actionButton" data-target="messages">Trigger Alarm</button>
            </form>

        <p class="subTitle">Access Live Cameras</p>
            <form method="post" id="event02Form">
                {% csrf_token %}
                <input type="hidden" name="action" value="event_02">
                <button type="button" class="actionButton" data-target="messages">Camera 01</button>
            </form>
    

        <p class="subTitle">Trigger effects devices</p>

            <div class="form-container">
                <form method="post" id="event03Form">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="event_03">
                    <button type="button" class="actionButton" data-target="messages">Fireworks</button>
                </form>
            </div>

            <div class="form-container">
                <form method="post" id="event04Form">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="event_04">
                    <button type="button" class="actionButton" data-target="messages">Bomb in the garage</button>
                </form>
            </div>

            <div class="form-container">
                <form method="post" id="event05Form">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="event_05">
                    <button type="button" class="actionButton" data-target="messages">Bomb at the front door</button>
                </form>
            </div>

        <script> 
            $(document).ready(function() {
                $(".actionButton").on("click", function() {
                    var form = $(this).closest("form");
                    var targetId = $(this).data("target");
                    $.post(form.attr("action"), form.serialize(), function(response) {
                        $("#" + targetId).text(response[targetId]);
                    }, "json");
                });
            });
        </script>
    {% include 'main/01footer.html' %} 
    </div>



</body>
</html>