{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/03home.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/02global.css' %}"/>
    
    <title>Dashboard</title>
</head>
<body>
    
    {% include 'main/00header.html' %}
    <div class="container-Global">
        <h1>

            Escopo pagina Dashboard

        </h1>

        {% include 'main/01footer.html' %}
    </div>

</body>
</html>