.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header{
   padding-left:70px;
}

.headerOption{
   padding-right: 70px;
}

a {
    text-decoration: none;
    text-decoration: none;
    color:green;
}

.header-line {
    border: none;
    background-color: #000000;
    opacity: 0.15;
    height: 1px;
    margin: 0 80px;
}

